.login_page_container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.login_page_container p{
    font-size: 13px;
}
.login_form_container{
    width: 480px;
    padding: 50px;
}

.form_container {
    padding-top: 20px;
    padding-bottom: 150px;
}

.create_account_link p {
    text-align: center;
}

.create_account_link {
    border-top: 1px solid #18494e;
    padding-top: 10px;
  }