.resetPass_page_container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.resetPass_page_container p{
    font-size: 13px;
}
.resetPass_form_container{
    width: 480px;
    padding: 50px;
}

.form_container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.create_account_link p {
    text-align: center;
}